<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SQLServerConnection" connectionString="Data Source=localhost;Initial Catalog=GestorDeMatriculas;User ID=sa;Password=Sqlserver2022$" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>